@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

fieldset {
  border: none;
  padding: 2rem 0 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
}

.inline {
  width: unset;
}

label {
  display: block;
  margin: 0.5rem;
}
